.content-wrapper(style='min-height: 703px;')
  //  Content Header (Page header) 
  section.content-header.content-center
    h1=params.rowData ? "Edit Receiving Goods" : "New Receiving Goods"
  //  Main content 
  section.content.content-center
    //  Default box 
    .box.box-success
      form.form-loading-button#mainForm(method='POST' onsubmit=params.rowData ? "return saveEntry('UPD');" : "return saveEntry('INS');" action=rooturl+'api/general/'+params.objectName accept-charset='UTF-8' role='form' autocomplete="off" enctype='multipart/form-data')
        input(name='_token' type='hidden' nosave="true" value='jdmbwKn84X5Df5IpalkRp8oSisZaf3YxPVXuKBXQ')
        input(name='_parentId' id="_parentId" type='hidden' nosave="true" value=params.rowData ? params.rowData.id : '')
        input(name='uuid' type='hidden' nosave=params.rowData ? 'false' : 'true' value=params.rowData ? params.rowData.uuid : '' dataType="string" dataKey="1"  )
        .box-body
          .form-group.col-md-6.required
            label.control-label(for='transNumber') Trans Number
            .input-group
              .input-group-addon
                i.fa.fa-key
              input.form-control#transNumber(placeholder='Enter Trans Number' required name='trans_number' type='text'  dataType="string" dataKey="0" value=params.rowData ? params.rowData.trans_number : params.transactionNumber)    
          .form-group.col-md-6.required
            label.control-label(for='transDate') Trans Date
            .input-group
              .input-group-addon
                i.fa.fa-id-card-o
              input.form-control#transDate(placeholder='Enter Trans Date' required name='trans_date' type='text' dataType="string" value=params.rowData ? params.rowData.trans_date : "" )
          
          .form-group.col-md-6.required
            label.control-label(for='supplier') Supplier
            .input-group
              .input-group-addon
                i.fa.fa-user
              select.form-control#supplier(name='supplier_id' aria-hidden='true' dataType="string")
                option(value) -Choose Type-
                    if params.rowData
                      option(selected, value=params.rowData.supplier_id) #{params.rowData.supplier_name}
          .form-group.col-md-12
            .spacer 
            
          .form-group.col-md-12
            table.table.table-bordered#sparepart
              tr(style="background-color: #f9f9f9;")
                th.text-center(width="5%") Action
                th.text-center(width="40%") Sparepart
                th.text-center(width="15%") Qty
              if params.relatedData.length > 0
                each val, index in params.relatedData[0].data
                  tr(id='sparepart-row-'+index)
                    td.text-center(style="vertical-align: middle;")
                      button.btn.btn-xs.btn-danger(type="button", onclick="$(this).tooltip('destroy'); deleteItem("+index+",'sparepart');", data-toggle="tooltip", title, data-original-title="delete")
                        i.fa.fa-trash
                    td
                      input.form-control.typeahead(id="sparepart-desc-"+index type="text", nosave="true", placeholder="Enter Sparepart Desc",name="sparepart["+index+"][sparepart]",value=val.part_desc, data-source="sparepart", autocomplete="false")
                      input(id="sparepart-autonumber-"+index type="hidden", nosave="true", name="sparepart["+index+"][autonumber]", value=val.id)
                      input(id="sparepart-id-"+index type="hidden", nosave="true", name="sparepart["+index+"][part_id]", value=val.part_id)
                    td
                      input.form-control(id="sparepart-qty-in-"+index type="text", nosave="true", placeholder="Enter QTY",name="sparepart["+index+"][qty_in]",value=val.qty_in, autocomplete="false")
                    //- td
                    //-   input.form-control.text-center(id="sparepart-price-sale-"+index, type="text", nosave="true",name="sparepart["+index+"][price_sale]",value=val.price_sale, autocomplete="false")
              
              tr#addSparepart
                td.text-center
                  button.btn.btn-xs.btn-primary#button-add-sparepart(data-toggle="tooltip", data-original-title="Adding", aria-describedby="tooltip230771")
                    i.fa.fa-plus
                td(colspan="2")  
          
          
        .box-footer
          .col-md-12
            .setting-buttons
              .form-group.no-margin
                button.btn.btn-success.button-submit(type='submit' data-loading-text='Loading ...')
                  span.fa.fa-save
                  |  Save
                a.btn.btn-default(href=rooturl+'app/sparepart/'+params.objectName+'/list')
                  span.fa.fa-times-circle
                  |  Cancel

        //  /.box-footer 
  //  /.content 
script.
  var _autocomplete_generic_path = '#{rooturl}api/general/replacethis/0/autocomplete'
  var _has_related_objects = true
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js')
script(src=rooturl+'public/js/numeral.min.js?v=1.0.0')
script(src=rooturl+'public/js/app_greenSys_dataaccess.js?v=1.0.0')
script(src=rooturl+'public/js/app/commonobject.js?v=1.0.0')
script(src=rooturl+'public/js/app/receiving.goods.js?v=1.0.0')